@page
@model projet_oracle_web.Pages.Shared._layoutPrincipaleModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    /* Appliquer l'image en arrière-plan */
    /* body {
            background-image: url('/images/Principale.png');
            background-size: 150% 100%; /* Taille de l'image ajustée */
    background-position: center bottom; /* Positionne l'image vers le bas */
    margin: 0;
    padding: 0;
    }
    */
</style>